/* Galaxy S9/S9+ | Portrait Mode */
@media screen and (max-width: 375px){

     body{
          max-height: 740px;
          max-width: 360px;
     }
     body header figure{
          width: 100vw;
          text-align: center;
     }

     body header figure img{
          height: 50px;
          margin: auto;
          margin-top: 20px;
     }

     body main {
          max-width: 100%;
          }
     body main .main-header{
          color: #FFFFFF;
          font-size: 20px;
          width: 100vw;
          margin: 50px 0px 0px 0px;
          text-align: center;
     }

     body main .users{
          width: 300px;
          margin: 0px auto;
          display: flex;
          flex-wrap: wrap;
     }

     body main .users .user-box{
          height: 186px;
          width: 186px;
          margin: 20px 10px 20px 10px;
     }
     
     /* SECTION CONTAINER Animation */
     body main .users .user-box:hover{
          color: #FFFFFF;
     }
     /* SECTION CONTAINER Animation */
     
     body main .users .user-box img{
          border-radius: 5px;
     }
     
     /* IMAGE CONTAINER Animation */
     body main .users .user-box img:hover{
          outline: 2px solid #FFFFFF;
          background-color: #ffffff10;
          transition-duration: 0.5s;
     }
     /* IMAGE CONTAINER Animation */

     body main .users .user-box .profile{
          padding: 30px;
     }

     body main .users .user-box figcaption{
          font-size: 15px;
          font-weight: 700;
          color: #FFFFFF;
          margin: 5px auto;
     }

     body footer{
          max-width: 100%;
     }

     body footer button{
          color: #FFFFFF;
          font-size: 10px;
          font-weight: 600px;

          height: 30px;
          width: 150px;
          margin: 100px auto;

     }
     
     body footer button:hover{
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
     }
}

/* Galaxy S9/S9+ | Landscape Mode */
@media screen and (max-width: 740px) and (orientation: landscape){
     
     body{
          width: 740px;
          height: 360px;
     }

     body header figure{
          width: 100%;
     }

     body header figure img{
          height: 50px;
          margin: 0;
     }

     body main{
          width: 100%;
     }

     body main .main-header{
          color: #FFFFFF;
          font-size: 20px;
          width: 100vw;
          margin: 30px 0px 0px 0px;
          text-align: center;
     }

     body main .users{
          width: 740px;
          margin-top: 0px;
          display: flex;
          flex-wrap: wrap;
     }

     body main .users .user-box{
          height: 100px;
          width: 100px;
          margin: 20px 10px 0px 10px;
     }
     
     /* SECTION CONTAINER Animation */
     body main .users .user-box:active{
          color: #FFFFFF;
     }
     /* SECTION CONTAINER Animation */
     
     body main .users .user-box img{
          border-radius: 5px;
     }
     
     /* IMAGE CONTAINER Animation */
     body main .users .user-box img:active{
          outline: 2px solid #FFFFFF;
          background-color: #ffffff10;
          transition-duration: 0.5s;
     }
     /* IMAGE CONTAINER Animation */

     body main .users .user-box .profile{
          padding: 20px;
     }

     body main .users .user-box figcaption{
          font-size: 9px;
          color: #FFFFFF;
          margin: 5px auto;
     }

     body footer{
          width: 740px;
     }

     body footer button{
          color: #FFFFFF;
          font-size: 10px;
          font-weight: 600px;

          height: 30px;
          width: 200px;

          position: absolute;
          top: 50%;
          transform: translateX(-50%);
     }
}